
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/admin/_adminLayout.cshtml";
}
<partial name="~/Views/Shared/admin/_IconCards.cshtml"/>
<partial name="~/Views/Shared/admin/_AreaChart.cshtml" />
<partial name="~/Views/Shared/admin/_DataTables.cshtml" />

<h1>Index</h1>

